In [1]:
# ปรับแต่งค่าการทำงานของ Spark
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("ChiSqSelector:Gender vs. Route").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "1000m").\
        config("spark.executor.cores", "2").\
        config("spark.cores.max", "6").\
        getOrCreate()

23/06/11 13:24:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
# กำหนดตัวแปร

HIGHDISPERSION_LIST= [] #เก็บชื่อคอลัมน์
HIGHNULL_LIST = [] #เก็บชื่อคอลัมน์
NULL_LIST = [] #เก็บชื่อคอลัมน์
NULL_PERC = 0.1 #สูงกว่าค่านี้ เป็น High Null ซึ่งอาจใช้วิธีลบทั้ง row ที่มี null ไม่ได้ เพราะอาจทำให้สูญเสียทั้ง row ไปเยอะเกินควร
DISPERSION_PERC = 100 #สูงกว่าค่านี้ (%) เป็น High Dispersion

In [3]:
from pyspark.sql import functions as sparkf
from pyspark.sql.types import *

In [4]:
#! pip install scipy

In [5]:
# เรียกใช้ Module/Library ของ Python

import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Pandas options
pd.set_option('display.max_colwidth', 1000, 'display.max_rows', None, 'display.max_columns', None)

# Plotting options
%matplotlib inline
mpl.style.use('ggplot')
sns.set(style='whitegrid')

import warnings
warnings.filterwarnings("ignore")

In [6]:
# ประกาศฟังก์ชั่นที่ใช้ทำ Histogram กับ Boxplot เพื่อวิเคราะห์ distribution (shape), outlier และความสัมพันธ์ (correlation)

def plot_var(arg_df, col_name, full_name, continuous):
    """
    Visualize a variable with and without faceting on the loan status.
    - col_name is the variable name in the dataframe
    - full_name is the full variable name
    - continuous is True if the variable is continuous, False otherwise
    """
    f, (ax1, ax2) = plt.subplots(nrows=1, ncols=2, figsize=(12,3), dpi=90)
    
    # Plot without loan status
    if continuous:
        sns.distplot(arg_df.loc[arg_df[col_name].notnull(), col_name], kde=False, ax=ax1)
    else:
        sns.countplot(x=arg_df[col_name], order=sorted(arg_df[col_name].unique()), color='#5975A4', saturation=1, ax=ax1)
    ax1.set_xlabel(full_name)
    ax1.set_ylabel('Count')
    ax1.set_title(full_name)

    # Plot with loan status
    if continuous:
        sns.boxplot(x=col_name, y='loan_status', data=arg_df, ax=ax2)
        ax2.set_ylabel('')
        ax2.set_title(full_name + ' by Loan Status')
    else:
        charge_off_rates = arg_df.groupby(col_name)['loan_status'].value_counts(normalize=True).loc[:,'Charged Off']
        sns.barplot(x=charge_off_rates.index, y=charge_off_rates.values, color='#5975A4', saturation=1, ax=ax2)
        ax2.set_ylabel('Fraction of arg_df Charged-off')
        ax2.set_title('Charge-off Rate by ' + full_name)
    ax2.set_xlabel(full_name)
    
    plt.tight_layout()

## 1. Business Understaing
    
    1.1 Problem Statement: ต้องการทราบว่า ลูกหนี้แต่ละรายจะมาจ่ายหนี้ครบตามสัญญาเงินกู้ (Fully-paid) หรือไม่มาจ่ายฯ (Charged-off)
    1.2 Project Objective: การจัดเก็บหนี้ดีขึ้นช่วยเพิ่มรายได้ให้กับกิจการ
    1.3 Task of Data Science: Binary Classification
    1.4 Cleansing Policy: ธุรกิจมี columns ที่แนะนำว่ามีความสัมพันธ์/ส่งผลต่อการชำระหนี้คืนตามสัญญา, ลบได้ทั้ง row หากมี missing ใน columns และแทนที่ได้ตามความเหมาะสม
    1.5 Success Criteria: มี Recall/Sensitivity ไม่น้อยกว่า 0.65 บน Testing set แบบ Hold-out

## 2. Data Understanding
    
    - มี Label เป็น column: loan_status
    - มีขนาดใหญ่ (volume)เกินกว่าเทคโนโลยีปัจจุบัน (Python) จะทำงานได้อย่างมีประสิทธิภาพ จึงต้องใช้ Spark ร่วมด้วย
    - CSV เป็น semi-structural data ที่มี header ซึ่งสามารถนำไปพัฒนาเป็น schema ของ structural data (Spark DataFrame) ได้
    - Data Dict.: https://docs.google.com/spreadsheets/d/1qtZBSJ-JS7S2tGC0W9Yxp992LmrDaAwGcJB419Htbbw/edit#gid=1163295822

In [7]:
#กำหนด columns ที่ธุรกิจให้คำแนะนำฯ ไว้

businessAttrs_df = ["loan_amnt","term","int_rate"\
                                ,"installment","grade","emp_length",\
                           "home_ownership","annual_inc"\
                                ,"verification_status","loan_status",\
                           "purpose","addr_state","dti","delinq_2yrs"\
                                ,"earliest_cr_line",\
                           "open_acc","pub_rec"\
                                ,"revol_bal","revol_util","total_acc","issue_d"]

In [8]:
###! apt-get update
###! apt-get install wget -y

Get:1 http://deb.debian.org/debian bullseye InRelease [116 kB]
Get:2 http://deb.debian.org/debian-security bullseye-security InRelease [48.4 kB]
Get:3 http://deb.debian.org/debian bullseye-updates InRelease [44.1 kB]
Fetched 208 kB in 1s (325 kB/s)
Reading package lists... Done
N: Repository 'http://deb.debian.org/debian bullseye InRelease' changed its 'Suite' value from 'stable' to 'oldstable'
N: Repository 'http://deb.debian.org/debian-security bullseye-security InRelease' changed its 'Suite' value from 'stable-security' to 'oldstable-security'
N: Repository 'http://deb.debian.org/debian bullseye-updates InRelease' changed its 'Suite' value from 'stable-updates' to 'oldstable-updates'
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
wget is already the newest version (1.21-1+deb11u1).
0 upgraded, 0 newly installed, 0 to remove and 39 not upgraded.

In [9]:
###! wget https://storage.googleapis.com/4jun2023/LoanStats_web.csv

--2023-06-11 13:24:55--  https://storage.googleapis.com/4jun2023/LoanStats_web.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.251.2.128, 74.125.137.128, 142.250.141.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.251.2.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1160157683 (1.1G) [text/csv]
Saving to: ‘LoanStats_web.csv’

LoanStats_web.csv   100%[===================>]   1.08G  57.5MB/s    in 19s

2023-06-11 13:25:15 (58.7 MB/s) - ‘LoanStats_web.csv’ saved [1160157683/1160157683]

In [10]:
! wc -l LoanStats_web.csv

1432493 LoanStats_web.csv

In [11]:
! head -3 LoanStats_web.csv

"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","12800","12800","12800"," 36 months"," 11.99%","425.09","C","C1","LOGISTICS COORDINATOR","6 years","MORTGAGE","53000","Verified","Mar-2016","Fully Paid","n","","","credit_card","Credit card refinancing","330xx","FL","20.99","0","Mar-2002","0","","59","7","1","8777","79.1%","16","w","0.00","0.00","15289.8112319621","15289.81","12800.00","2489.81","0.0","0.0","0.0","Apr-2019","424.75","","Mar-2019","0","","1","Individual","","","","0","0","221036","2","2","1","1","9","23227","68","1","1","3381","71","11100","1","0","2","3","31577","962","87.8","0","0","124","168","4","4","1","43","","7","","0","3","4","3","4","7","4","8","4","7","0","0","0","3","100","100","1","0","235600","32004","7900","34024","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9000","9000","9000"," 36 months"," 15.31%","313.36","C","C5","Senior Case Assistant","9 years","RENT","52000","Source Verified","Mar-2016","Fully Paid","n","","","debt_consolidation","Debt consolidation","945xx","CA","18.86","0","Nov-1999","0","24","","6","0","11713","73.7%","13","w","0.00","0.00","10193.6517427984","10193.65","9000.00","1193.65","0.0","0.0","0.0","Mar-2017","7064.14","","Jul-2019","0","","1","Individual","","","","0","0","52953","2","1","1","1","4","41240","","3","3","3789","74","15900","0","1","2","4","8826","4187","73.7","0","0","125","196","1","1","0","1","","4","","0","5","5","5","9","3","5","10","5","6","0","0","0","4","92.3","80","0","0","58425","52953","15900","42525","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [12]:
# Spark อ่านข้อมูลจาก .csv แล้ว convert เป็น DataFrame

raw_df = spark.read.option('header',True)\
.option("quote", "\"")\
.option('mode','DROPMALFORMED')\
.option('inferSchema',True)\
.csv('LoanStats_web.csv')\
.select(businessAttrs_df)

In [13]:
# Spark นับจำนวน row ใน DataFrame

raw_df.count()

23/06/11 13:25:42 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

1432466

In [14]:
raw_df.printSchema()

root
 |-- loan_amnt: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: string (nullable = true)
 |-- delinq_2yrs: string (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- open_acc: integer (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- issue_d: string (nullable = true)

In [15]:
allRows_count = raw_df.count()

### 2.1 Univariate Analysis

In [16]:
# Spark วิเคราะห์ column แล้วแสดงค่าทางสถิติ 5 ค่า ของแต่ละ column โดยมี Python Pandas ช่วยในการแสดงผล

raw_df.describe().toPandas().transpose()

#### ผลจากการดู Range ขัอเกต คือ annual_inc มี 0 ด้วย

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,1432440,15370.388358325654,9646.026272413836,1000,40000
term,1432440,None,None,36 months,60 months
int_rate,1432440,None,None,5.31%,30.99%
installment,1432440,456.68909888718275,281.7139997355062,19.4,1715.42
grade,1432440,None,None,A,G
emp_length,1432440,None,None,1 year,n/a
home_ownership,1432440,None,None,ANY,RENT
annual_inc,1432440,81034.58293296752,134183.35696714383,0.0,6.1E7
verification_status,1432440,None,None,Not Verified,Verified
loan_status,1432440,None,None,Charged Off,Late (31-120 days)
purpose,1432440,None,None,and also pay off some credit card debt. I will be debt free except for my payment to you. I don't care what the interest rate is,wedding
addr_state,1432440,None,None,AK,debt_consolidation
dti,1430856,19.211872978044383,15.972775323001589,-1,Debt consolidation
delinq_2yrs,1432440,0.30147182532729144,0.8643187650693935,0,9
earliest_cr_line,1432440,None,None,Apr-1955,Sep-2015
open_acc,1432440,11.710318756806569,5.841056149724124,0,101
pub_rec,1432439,0.20539234131435963,0.5861093697871824,0,61
revol_bal,1432439,16846.678102173984,23301.01458319944,0,2358150
revol_util,1431251,19.0,NaN,0%,99.9%
total_acc,1432440,23.602901343162717,12.04098331503924,0,176
issue_d,1432440,None,None,Apr-2016,Sep-2018

In [17]:
#### ขยายผลกลุ่ม annual_inc = 0 ต่อไป เพื่อดูว่า ปล่อยกู้ในกลุ่มนี้ ยังงัยบ้าง
raw_df.filter(sparkf.col('annual_inc')==0).describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,1553,19987.411461687057,11113.147359296123,1000,40000
term,1553,None,None,36 months,60 months
int_rate,1553,None,None,5.31%,30.79%
installment,1553,572.9260785576305,325.60197159326947,33.57,1597.6
grade,1553,None,None,A,G
emp_length,1553,None,None,1 year,n/a
home_ownership,1553,None,None,MORTGAGE,RENT
annual_inc,1553,0.0,0.0,0.0,0.0
verification_status,1553,None,None,Not Verified,Verified
loan_status,1553,None,None,Charged Off,Late (31-120 days)
purpose,1553,None,None,car,vacation
addr_state,1553,None,None,AK,WY
dti,12,0.0,0.0,0,0
delinq_2yrs,1553,0.13715389568576947,0.466525198087244,0,5
earliest_cr_line,1553,None,None,Apr-1971,Sep-2014
open_acc,1553,9.353509336767546,4.990256187132898,1,35
pub_rec,1553,0.10238248551191242,0.311631457760992,0,2
revol_bal,1553,17498.609143593047,29288.073420843775,0,609131
revol_util,1547,None,None,0%,99.9%
total_acc,1553,18.24146812620734,10.010511532493517,2,78
issue_d,1553,None,None,Apr-2016,Sep-2018

In [18]:
#### code ก่อนหน้านี้เห็นว่า กลุ่ม annual_inc = 0 มีการปล่อยกู้ด้วยวงเงินสูงสุด 40,000
#### code ในส่วนนี้ เห็นว่า คนที่ได้รับเงินกู้ไป 40,000 มีจำนวน 126 คน ซึ่งมากที่สุดแล้วในกลุ่ม annual_inc = 0
raw_df.filter(sparkf.col('annual_inc')==0).groupBy('loan_amnt').count()\
.orderBy('count', ascending=False).show()

+---------+-----+
|loan_amnt|count|
+---------+-----+
|    40000|  126|
|    20000|   94|
|    10000|   87|
|    35000|   85|
|    15000|   80|
|    30000|   75|
|    12000|   73|
|    25000|   58|
|    16000|   56|
|    24000|   54|
|     5000|   44|
|     8000|   42|
|    32000|   36|
|    18000|   31|
|     6000|   25|
|    28000|   21|
|    14000|   18|
|    11000|   17|
|    13000|   16|
|     7000|   16|
+---------+-----+
only showing top 20 rows

In [19]:
# Spark และ Pandas ร่วมกันคำนวณ Coefficient of Variation (CV)

basicStat_pd = raw_df.describe().toPandas().transpose()

header_series = basicStat_pd.iloc[0]

noColBasicStat_pd = basicStat_pd[1:]

noColBasicStat_pd.columns = header_series

basicStat_pd = noColBasicStat_pd

basicStat_pd = basicStat_pd[['count','mean','stddev']].astype('float64')

basicStat_pd = basicStat_pd.assign(CV=lambda x: round((x['stddev']/x['mean'])*100,2))\
.sort_values('CV',ascending=False)
basicStat_pd

summary                  count          mean         stddev      CV
delinq_2yrs          1432440.0      0.301472       0.864319  286.70
pub_rec              1432439.0      0.205392       0.586109  285.36
annual_inc           1432440.0  81034.582933  134183.356967  165.59
revol_bal            1432439.0  16846.678102   23301.014583  138.31
dti                  1430856.0     19.211873      15.972775   83.14
loan_amnt            1432440.0  15370.388358    9646.026272   62.76
installment          1432440.0    456.689099     281.714000   61.69
total_acc            1432440.0     23.602901      12.040983   51.01
open_acc             1432440.0     11.710319       5.841056   49.88
term                 1432440.0           NaN            NaN     NaN
int_rate             1432440.0           NaN            NaN     NaN
grade                1432440.0           NaN            NaN     NaN
emp_length           1432440.0           NaN            NaN     NaN
home_ownership       1432440.0           NaN            NaN     NaN
verification_status  1432440.0           NaN            NaN     NaN
loan_status          1432440.0           NaN            NaN     NaN
purpose              1432440.0           NaN            NaN     NaN
addr_state           1432440.0           NaN            NaN     NaN
earliest_cr_line     1432440.0           NaN            NaN     NaN
revol_util           1431251.0     19.000000            NaN     NaN
issue_d              1432440.0           NaN            NaN     NaN

In [20]:
# Spark และ Pandas ร่วมกันกรองออกมาเฉพาะ CV ที่เกิน DISPERSION_PERC

basicStat_pd[basicStat_pd.assign(CV=lambda x: round((x['stddev']/x['mean'])*100,2))\
.sort_values('CV',ascending=False)['CV']>DISPERSION_PERC]

summary          count          mean         stddev      CV
delinq_2yrs  1432440.0      0.301472       0.864319  286.70
pub_rec      1432439.0      0.205392       0.586109  285.36
annual_inc   1432440.0  81034.582933  134183.356967  165.59
revol_bal    1432439.0  16846.678102   23301.014583  138.31

In [21]:
# Spark และ Pandas ได้รับรายชื่อ Col. ที่มี Dispersion เกินกว่าค่า DISPERSION_PERC
HIGHDISPERSION_LIST = basicStat_pd[basicStat_pd.assign(CV=lambda x: round((x['stddev']/x['mean'])*100,2))\
.sort_values('CV',ascending=False)['CV']>DISPERSION_PERC][:].axes[0].values.tolist()

In [22]:
HIGHDISPERSION_LIST

['delinq_2yrs', 'pub_rec', 'annual_inc', 'revol_bal']

In [23]:
raw_df.count()

1432466

In [24]:
#วิเคราะห์ NULL

basicStat_pd.assign(percentageNull=lambda x: ((allRows_count-x['count'])/allRows_count)*100)\
.sort_values('percentageNull',ascending=False)

summary,count,mean,stddev,CV,percentageNull
dti,1430856.0,19.211873,15.972775,83.14,0.112394
revol_util,1431251.0,19.000000,NaN,NaN,0.084819
revol_bal,1432439.0,16846.678102,23301.014583,138.31,0.001885
pub_rec,1432439.0,0.205392,0.586109,285.36,0.001885
delinq_2yrs,1432440.0,0.301472,0.864319,286.70,0.001815
emp_length,1432440.0,NaN,NaN,NaN,0.001815
earliest_cr_line,1432440.0,NaN,NaN,NaN,0.001815
addr_state,1432440.0,NaN,NaN,NaN,0.001815
purpose,1432440.0,NaN,NaN,NaN,0.001815
loan_status,1432440.0,NaN,NaN,NaN,0.001815
verification_status,1432440.0,NaN,NaN,NaN,0.001815
home_ownership,1432440.0,NaN,NaN,NaN,0.001815
int_rate,1432440.0,NaN,NaN,NaN,0.001815
grade,1432440.0,NaN,NaN,NaN,0.001815
term,1432440.0,NaN,NaN,NaN,0.001815
open_acc,1432440.0,11.710319,5.841056,49.88,0.001815
total_acc,1432440.0,23.602901,12.040983,51.01,0.001815
installment,1432440.0,456.689099,281.714000,61.69,0.001815
loan_amnt,1432440.0,15370.388358,9646.026272,62.76,0.001815
annual_inc,1432440.0,81034.582933,134183.356967,165.59,0.001815
issue_d,1432440.0,NaN,NaN,NaN,0.001815

#วิเคราะห์ NULL

basicStat_pd.assign(percentageNull=lambda x: round(((allRows_count-x['count'])/allRows_count)*100,2))\
.sort_values('percentageNull',ascending=False)

In [25]:
# Spark และ Pandas ได้รับรายชื่อ Col. ที่มี Null เกินกว่าค่า NULL_PERC

HIGHNULL_LIST = basicStat_pd[basicStat_pd.assign(percentageNull=lambda x: ((allRows_count-x['count'])/allRows_count)*100)\
.sort_values('percentageNull',ascending=False)['percentageNull']>NULL_PERC][:].axes[0].values.tolist()

# Spark และ Pandas ได้รับรายชื่อ Col. ที่มี Null เกินกว่าค่า NULL_PERC

HIGHNULL_LIST = basicStat_pd[basicStat_pd.assign(percentageNull=lambda x: round(((allRows_count-x['count'])/allRows_count)*100,2))\
.sort_values('percentageNull',ascending=False)['percentageNull']>NULL_PERC][:].axes[0].values.tolist()

In [26]:
HIGHNULL_LIST

['dti']

In [27]:
# Spark และ Pandas ได้รับรายชื่อ Col. ที่มี Null 
NULL_LIST = basicStat_pd[basicStat_pd.assign(countNull=lambda x: allRows_count-x['count'])\
.sort_values('countNull',ascending=False)['countNull']>0][:].axes[0].values.tolist()

In [28]:
# Spark วิเคราะห์ Imbalance Class

raw_df.groupBy('loan_status').count().show()

+------------------+------+
|       loan_status| count|
+------------------+------+
|        Fully Paid|551955|
|           Default|    27|
|              null|    26|
|   In Grace Period|  7928|
|       Charged Off|147348|
|Late (31-120 days)| 18752|
|           Current|702223|
| Late (16-30 days)|  4207|
+------------------+------+

In [29]:
raw_df.select('loan_status').distinct().show()

+------------------+
|       loan_status|
+------------------+
|        Fully Paid|
|           Default|
|              null|
|   In Grace Period|
|       Charged Off|
|Late (31-120 days)|
|           Current|
| Late (16-30 days)|
+------------------+

In [30]:
raw_df.printSchema()

root
 |-- loan_amnt: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: string (nullable = true)
 |-- delinq_2yrs: string (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- open_acc: integer (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_acc: integer (nullable = true)
 |-- issue_d: string (nullable = true)

In [31]:
raw_df.withColumn('calculatedDTI',sparkf.col('loan_amnt')/sparkf.col('annual_inc'))\
.select('loan_amnt','annual_inc','dti','calculatedDTI').groupBy('loan_amnt','annual_inc','dti','calculatedDTI').count()\
.orderBy('dti', ascending=False).show()

### ค่า dti เชื่อถือได้หรือไม่

+---------+----------+------------------+-------------------+-----+
|loan_amnt|annual_inc|               dti|      calculatedDTI|count|
+---------+----------+------------------+-------------------+-----+
|     8800|   65000.0|Debt consolidation|0.13538461538461538|    1|
|    15600|    1000.0|               999|               15.6|    1|
|    13900|     191.0|               999|  72.77486910994764|    1|
|    17500|    1158.0|               999| 15.112262521588946|    1|
|     3750|     500.0|               999|                7.5|    1|
|    12000|    1680.6|               999|  7.140307033202428|    1|
|    10250|      33.0|               999|  310.6060606060606|    1|
|    10000|     420.0|               999|  23.80952380952381|    1|
|    20375|      32.0|               999|          636.71875|    1|
|    20000|    1500.0|               999| 13.333333333333334|    1|
|    35000|    1000.0|               999|               35.0|    7|
|    30000|      25.0|               999|             1200.0|    1|
|     8000|     800.0|               999|               10.0|    1|
|    15000|    2000.0|               999|                7.5|    1|
|    37000|    2500.0|               999|               14.8|    1|
|    11400|      50.0|               999|              228.0|    1|
|    40000|     445.0|               999|  89.88764044943821|    1|
|    24500|    1000.0|               999|               24.5|    1|
|    10000|      36.0|               999| 277.77777777777777|    1|
|    10000|     700.0|               999| 14.285714285714286|    2|
+---------+----------+------------------+-------------------+-----+
only showing top 20 rows

In [32]:
raw_df.withColumn('calculatedDTI',sparkf.col('loan_amnt')/sparkf.col('annual_inc'))\
.select('loan_amnt','annual_inc','dti','calculatedDTI').filter(sparkf.col('calculatedDTI').isNull()).show()

#### พบว่า มี annual_inc = 0 แต่ได้รับเงินกู้ ซึ่งไม่ควรให้ ML จดจำ pattern แบบนี้ไปใช้**

+---------+----------+----+-------------+
|loan_amnt|annual_inc| dti|calculatedDTI|
+---------+----------+----+-------------+
|     2500|       0.0|null|         null|
|    12000|       0.0|null|         null|
|    15000|       0.0|null|         null|
|     9100|       0.0|null|         null|
|    17500|       0.0|null|         null|
|    18000|       0.0|null|         null|
|     5000|       0.0|null|         null|
|     8400|       0.0|null|         null|
|    20000|       0.0|null|         null|
|    15000|       0.0|null|         null|
|    17600|       0.0|null|         null|
|    16500|       0.0|null|         null|
|    24975|       0.0|null|         null|
|     9900|       0.0|null|         null|
|    15000|       0.0|null|         null|
|     null|      null|null|         null|
|     null|      null|null|         null|
|    12000|       0.0|null|         null|
|    15000|       0.0|null|         null|
|    20000|       0.0|null|         null|
+---------+----------+----+-------------+
only showing top 20 rows